.app {
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Raleway';
}

/* .bgShadow {
    background: rgba(57, 55, 72, 0.22);
    z-index: 99;
    height: 1800px;

} */

